main {
    width: 100%;
    margin-top: 150px;
}
main .img img{
    width: 100%;
}
main .right{
    margin-left: 10px;
}
main .box {
    display: flex;
}

main .box .flex {
    margin: 10px;
    width: 350px;
    padding: 20px 0px;
    padding-left: 20px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
}
main .box .flex h3{
    font-family: 'STIX Two Text', serif; 
    font-size: 36px;
    font-weight: 500;
    line-height: 45px;
    color: white;
}