header{
    width: 100%;
    padding-top: 200px;
}
header .left{
    text-align: left;
}
header .left span{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #8A8A8A;
}
header .left h1{
    font-family: 'STIX Two Text', serif; 
    font-size: 55px;
    font-weight: 500;
    line-height: 74px;
    color: white;
    margin: 10px 0px;
}
header .flex{
    display: flex;
    align-items: center;
    margin-top: 45px;
}
header .flex button{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    padding: 24px 20px;
    border-radius: 70%;
    background-color: #DA4533;
    color: white;
    text-align: center;
    border: none;
}
header .flex a{
    display: block;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #DA4533;
    margin-left: 40px;
    border: 1px solid #DA4533;
    border-radius: 70%;
    padding: 9px 22px;
}
header .flex a:hover{
    cursor: pointer;
    transition: 1s;
    background-color: #DA4533;
    color: white;
}
header .img{
    text-align: right;
}
@media(max-width:900px){
    header .img img {
        text-align: center;
        width: 100%;
    }
    header .left h1{
        font-size: 30px;
        font-weight: 40px;
    }
}